* 
  box-sizing: border-box
img
  max-width: 100%  
a
  text-decoration: none
body
  +roboto-reg
.container
  width: 1140px
  margin: auto
.button
  padding: 20px 50px
  display: inline-block
  text-align: center
  font-size: 16px
  +roboto-900
  border-radius: 5px
  background: $main-color
  cursor: pointer
  &:hover
    background-color: darken($main-color, 10%)
.header-title
  font-size: 24px
  line-height: 32px
  +playfair
.header-description
  margin-top: 21px
  font-size: 16px
  line-height: 150%
  color: $text-color-gray
.section
  padding-top: 65px
  padding-bottom: 65px
@media (max-width: 1200px)
  .container
    width: 760px
    width: 95%
@media (max-width: 768px)
  .container
    max-width: 580px
  .header-description
    margin-top: 15px
    font-size: 14px
    margin-bottom: 0
  .header-title
    font-size: 16px
@media (max-width: 480px)
  .container
    width: 750px
    width: 85%