.hero
  &-background
    background: url(../img/hero/hero-image.png) no-repeat 75%
    background-size: contain
    margin-top: 70px
  &-block
    padding-top: 30px
    padding-bottom: 223px
    display: flex
  &-text    
    &__title
      max-width: 580px
      +playfair
      font-size: 36px
      line-height: 48px
    &__subtitle
      margin-top: 21px
      display: block
      +roboto-bold
      font-size: 18px
  &-list
    margin-top: 45px
    margin-right: 50px
    display: flex
    max-width: 400px
    flex-direction: row
    flex-wrap: wrap
    &__button
      margin-top: 50px
    &__item
      width: 48%
      margin-top: 25px
      display: flex
    &__image
      min-height: 40px
      min-width: 40px
      margin-right: 3px
@media (max-width: 1450px)
  .hero-background
    background: url(../img/hero/hero-image.png) no-repeat 85%
    background-size: contain
@media (max-width: 1200px)
  .hero-background
    background: url(../img/hero/hero-image.png) no-repeat 550px
    background-size: contain
@media (max-width: 768px)
  .hero
    &-block
      padding-bottom: 0
    &-background
      background: url(../img/hero/hero-mobile-image.png) no-repeat 240px 45px
      background-size: 500px
    &-text
      &__title
        font-size: 18px
        line-height: 24px
      &__subtitle
        font-size: 14px
    &-list
      margin-top: 20px
      flex-direction: column
      &__item
        width: 170px
@media (max-width: 468px)
  .hero
    &-background
      background: url(../img/hero/hero-mobile-image.png) no-repeat 193px 136px
      background-size: 72%
      margin-top: 31px