.hero
  &-block
    display: flex    
  &-text
    margin-top: 120px
    flex-basis: 40%
    &__title
      +playfair
      font-size: 36px
      min-width: 125%
      line-height: 48px
    &__subtitle
      margin-top: 21px
      display: block
      +roboto-bold
      font-size: 18px
  &-image
    margin-top: 90px
    flex-basis: 60%
    &__img
      min-width: 115%
  &-list
    margin-top: 42px
    margin-right: 50px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    &__button
      margin-top: 69px
      &:hover
        background-color: darken($main-color, 10%)
    &__item
      width: 48%
      margin-top: 25px
      display: flex
    &__image
      min-height: 40px
      min-width: 40px
      margin-right: 3px
    

// .hero
//   &-block
//     display: flex    
//   &-text
//     margin-top: 120px
//     flex-basis: 40%
//     &__title
//       +playfair
//       font-size: 36px
//       min-width: 125%
//       line-height: 48px
//     &__subtitle
//       margin-top: 21px
//       display: block
//       +roboto-bold
//       font-size: 18px
//   &-image
//     margin-top: 90px
//     flex-basis: 60%
//     &__img
//       min-width: 115%
//   &-list
//     margin-top: 42px
//     margin-right: 50px
//     display: flex
//     flex-direction: row
//     flex-wrap: wrap
//     &__button
//       margin-top: 69px
//       &:hover
//         background-color: darken($main-color, 10%)
//     &__item
//       width: 48%
//       margin-top: 25px
//       display: flex
//     &__image
//       min-height: 40px
//       min-width: 40px
//       margin-right: 3px
      